<!DOCTYPE html>

<html>
    <head>
        <%- include ('./partials/head.ejs') %>
    </head>
    <body>
        <header>
            <%- include ('./partials/header.ejs') %>
        </header>

     
<% for(let j = 0; j<recipe.length; j++) {%>
    
       <h4> <%=recipe[j].name%></h4>
        <a href = "/<%=recipe[j].id%>"><img src=<%=recipe[j].image%>></img></a>
  
<%}%>



<%- include('./partials/footer.ejs') %>
    </body>
</html>