 <!DOCTYPE html>

    <html>
        <head>
            <%- include ('./partials/head.ejs') %>
        <body>
            <header>
                <%- include ('./partials/header.ejs') %>
        
    </header>
    
           <div>
            
            <div class="container">
                <h1>Edit</h1> 
            <form  class="form-label"  action ="/<%=recipe._id%>?_method=DELETE" method="POST">
                <input class ="btn btn-outline-secondary" type="submit" value="Delete This Recipe"/>
            </form>
               <form  action="/<%=recipe._id%>?_method=PUT" method="POST">
                   <label class="form-label">Name</label>
                   <div class="col-sm-6">
                   <input type ="text" name="name"class="form-control" value ="<%=recipe.name%>"></br>
                </div>
                   <label  class="form-label">Image</label><input class="form-control" accept="image/*" name="image" value ="<%=recipe.image%>"></br>
                   <label class="form-label">Category</label>
            <select type ="text" name="category" class="form-select" value ="">
                <option selected><%=recipe.category%></option>
                <option value = "Korean">Korean</option>
                <option value = "Thai">Thai</option>
                <option value = "Mexican">Mexican</option>
                <option value = "Chinese">Chinese</option>
                <option value = "American">American</option>
                <option value = "Japanese">Japanese</option>
                <option value = "Spanish">Spanish</option>
                <option value = "Greek">Greek</option>
            </select></br>
            <label class="form-label">Ingredients</label><textarea type ="text" name="ingredients" class="form-control" value =""><%=recipe.ingredients%></textarea></br>
            <label class="form-label">Instructions</label><textarea type ="text" name="instructions"class="form-control" value =""><%=recipe.instructions%></textarea></br>
                  
                 <input class="btn btn-outline-secondary" type = submit name ="" value = Confirm >
               </form>
           </div>
          
    </div>
           <%- include('./partials/footer.ejs') %>
        </body>
    </html>