<!DOCTYPE html>

<html>
    <head>
        <%- include ('./partials/head.ejs') %>
        
    </head>
 <body>
    <%- include ('./partials/header.ejs') %>
            <style>
               
                
            </style>
           <div class="container">
                <div class = "row">
                <% for(let i = 0; i<category.length; i++) {%>
                    <div class="card col-sm-12 col-md-6 col-sm-4 " style="width: 26rem;">
                        <img class="card-img-top" src="<%=category[i].image%>" alt="Card image cap">
                        <div class="card-body">
                          <h4 class="card-title"><%=category[i].name%></h4>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="/<%=category[i].name%>" class="btn btn-primary">Explore the Recipes</a>
                        </div>
                      </div>
        
                <%}%> 
            </div>
        </div>

         
            <section style="height:300px; margin-top: 70px; text-align:center;"><h1>Not sure what to cook?</h1>
       <a href = '/random'> 
           <button class ="btn btn-outline-secondary text-dark">
           Here's a recipe to try
        </button>
    </a>
    </section>

   
   
     <%- include('./partials/footer.ejs') %>
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
        </html>