<!DOCTYPE html>

<html>
    <head>
        <%- include ('./partials/head.ejs') %>
        
    </head>
 <body>
    <%- include ('./partials/header.ejs') %>
            <style>
                .body{
                    background-color: bisque;
                }
            </style>
        
                <div class = ".container ">
                    <div class = "row">
                <image class="col-sm-12 col-md-6 col-lg-4" src=<%=category[0].image%>>
                <image class="col-sm-12 col-md-6 col-lg-4" src=<%=category[1].image%>>
                <image class="col-sm-12 col-md-6 col-lg-4" src=<%=category[2].image%>>
                <image class="col-sm-12 col-md-6 col-lg-4" src=<%=category[3].image%>>
                <image class="col-sm-12 col-md-6 col-lg-4" src=<%=category[4].image%>>
                <image class="col-sm-12 col-md-6 col-lg-4" src=<%=category[5].image%>>
                <image class="col-sm-12 col-md-6 col-lg-4" src=<%=category[6].image%>>
                <image class="col-sm-12 col-md-6 col-lg-4" src=<%=category[7].image%>>
                <image class="col-sm-12 col-md-6 col-lg-4" src=<%=category[8].image%>>
                </div>
                        </div>
                <div class="row justify-content-flex-end"> 
                        
                <% for(let i = 0; i<category.length; i++) {%>
                    <div class = "row-sm-12 row-md-6 row-lg-6">
                    <a href="/<%=category[i].name%>">   
                    <h3><%=category[i].name%></h3>   
                    </a>
                   </div>
                <%}%> 
                    </div>
                </div>

         
            <div><h2>Not sure what to cook?</h2>
       <a href = '/random'> 
           <button class ="btn btn-outline-secondary text-dark">
           Here's a recipe to try
        </button>
    </a>

   
   
     <%- include('./partials/footer.ejs') %>
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
        </html>