<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/normalize.css">
        <link rel="stylesheet" href="/skeleton.css">
    </head>
    <body>
     
        <header>
            <h1><%=recipe.name%></h1>
         </header>
<div>
    <img src = "<%=recipe.image%>"></img>
    <div class = "buttons">
   <a href="/<%=recipe.id%>/edit"> <div class ='button'>Edit</div></a>
   <form action ="/<%=recipe._id%>?_method=DELETE" method="POST">
    <input type="submit" value="DELETE"/>
</form>
</div>

    
</div>
<div>
    <ul>
    <li>Cuisine:<%=recipe.category%></li>
   
</ul>
</div>
<div>Ingredients
    <ol class>
    <li><%=recipe.ingredients[0]%></li>
    <li><%=recipe.ingredients[1]%></li>
    <li><%=recipe.ingredients[2]%></li>
    <li><%=recipe.ingredients[3]%></li>
    <li><%=recipe.ingredients[4]%></li>
    <li><%=recipe.ingredients[5]%></li>
    <li><%=recipe.ingredients[6]%></li>
    <li><%=recipe.ingredients[7]%></li>
    <li><%=recipe.ingredients[8]%></li>
    <li><%=recipe.ingredients[9]%></li>
    <li><%=recipe.ingredients[10]%></li>
    <li><%=recipe.ingredients[11]%></li>
    <li><%=recipe.ingredients[12]%></li>
    <li><%=recipe.ingredients[13]%></li>
    <li><%=recipe.ingredients[14]%></li>
    <li><%=recipe.ingredients[15]%></li>
    <li><%=recipe.ingredients[16]%></li>
    <li><%=recipe.ingredients[17]%></li>
    <li><%=recipe.ingredients[18]%></li>
    </ol>
</div>
<div>Instructions
    <p><%=recipe.instructions%></p>
</div>
    </body>
</html>