<!DOCTYPE html>

<html>
    <head>
        <%- include ('./partials/head.ejs') %>
    </head>
    <body>
     
        <header>
            <%- include ('./partials/header.ejs') %>
            
         </header>
         

<div class ="container"> 
<div class="row"> 
    <div class ="col-sm-12 col-md-6 col-lg-6">
    <img style="max-width: 70%;" src = "<%=recipe.image%>"></img>
    <h2><%=recipe.name%></h2>
    <a href="/<%=recipe._id%>/edit"> <div class ="btn btn-outline-secondary">Edit</div></a>   

    <li><b>Cuisine:</b><%=recipe.category%></li>
</div> 

    <div class ="col-sm-12 col-md-6 col-lg-6">
    <p><b>Ingredients</b></p>
    
<ul>
    <li><%=recipe.ingredients[0]%></li>
    <li><%=recipe.ingredients[1]%></li>
    <li><%=recipe.ingredients[2]%></li>
    <li><%=recipe.ingredients[3]%></li>
    <li><%=recipe.ingredients[4]%></li>
    <li><%=recipe.ingredients[5]%></li>
    <li><%=recipe.ingredients[6]%></li>
    <li><%=recipe.ingredients[7]%></li>
    <li><%=recipe.ingredients[8]%></li>
    <li><%=recipe.ingredients[9]%></li>
    <li><%=recipe.ingredients[10]%></li>
    <li><%=recipe.ingredients[11]%></li>
    <li><%=recipe.ingredients[12]%></li>
    <li><%=recipe.ingredients[13]%></li>
    <li><%=recipe.ingredients[14]%></li>
    <li><%=recipe.ingredients[15]%></li>
    <li><%=recipe.ingredients[16]%></li>
    <li><%=recipe.ingredients[17]%></li>
    <li><%=recipe.ingredients[18]%></li>
    </ul>
<p><b>Instructions</b></p>
    <p><%=recipe.instructions%></p>
</div>
</div>
</div>



<%- include('./partials/footer.ejs') %>
    </body>
</html>